@import '../components/fonts';
@import '../helpers/variables';
.informationHeader1{
	@extend .tittle2-text;
	color:$azulMiTelcel;
	text-align: center;	
	font-size:1.5vw;
	margin-bottom:0px;
}


.informationHeader2{
	@extend .tittle3-text;
	color:$azulMiTelcel;
	text-align: center;	
	font-size:1vw;

}


.generalContent{
	text-align:justify;
	width:80%;
	color:$gris100;
	margin: auto;
	
}

