@charset "ISO-8859-1";

.form-group-region{
	display: flex;
}

.form-group-region>.label-region{
    display:flex;
    justify-content: center;
    align-items: center;
}

.form-group-region>.select-region{
    padding: 0;
}

.form-group{
    margin-bottom: 25px!important;
}



.login-header{
    color: #0a3b79!important;
}


.login-body{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-origin: content-box!important;
	background-position: center!important;
	height: auto!important;
}