 @media only screen and (min-width: 667px) {
      .main-header{
        position:fixed;
        width: 100%;
      }
      
      .content-wrapper{
        margin-top: 50px;
      }
    }

    

    #main-sidebar{
      height: 100vh;
      position: fixed;
    }

    .sidebar{
      height: 100%!important;
    }

    #sdiebar-menu {
      overflow: auto !important;
      height: 90%;
    }

    *::-webkit-scrollbar {
      width: 10px;
      background-color: transparent;
    }

    *::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: 3px;
    }

    .home-button{
      border-radius: 50%;
      background-color: white;
      color:gray;
      font-size: 3rem;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .home-button-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10%;
    }

    .skin-blue .main-header .navbar {
        background-color:$grisExtraLight;
        box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    }

    .skin-blue .main-header .navbar *{
        color: $azulTelcel !important;
    }

    .skin-blue .main-header .logo {
        background-color:$grisExtraLight;
        box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
        color: #02b0ef!important;
    }

    .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
        background-color:  #4a4b4d!important;
    }

    .skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a{
        background-color: #02b0ef;
        color: #ffffff;
    }

    .skin-blue .sidebar-menu>li>.treeview-menu {
        background-color: #57585a;
        color: #bbbdbf;

    }

    .skin-blue .sidebar-menu>li.active>a {
       /* border-left-color: #ff9933;*/
    }

