$view-height: 100vh;
$view-width: 100vw;


/*Colores de página como aparecen en zeplin*/
$blanco : #ffffff;
$azulMiTelcel : #02b0ef;
$naranja : #ff9933 ;
$azulTelcel : #0a3b79;
$gris90 : #5b5c5e;
$gris100 : #4a4b4d;
$grisLight : #bebebe;
$rojoNotificacion :#f81821;
$grisExtraLight : #f8f8f8;
$grisAzul100 : #98a7bc;