

.copyrightHeader h1{
	color:#02b0ef;
	text-align: center;	
	
}

.copyrightHeader h5{
	color:#02b0ef;
	text-align: center;	
}

.copyrigthContent{
	text-align:justify;
	width:80%;
	color:#707070;
	margin: auto;
	
}

