@charset "ISO-8859-1";

@font-face {
    font-family: SourceSansPro-Bold;
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: SourceSansPro;
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: TelcelNova;
    src: url("../fonts/Telcel_Nova/TelcelNova-Media.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: TelcelNova;
    src: url("../fonts/Telcel_Nova/TelcelNova-Media.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: TelcelNova;
    src: url("../fonts/Telcel_Nova/TelcelNova-Obscura.otf") format("opentype");
    font-weight: bolder;
    font-style: normal;
}

*{
	font-family: SourceSansPro, sans-serif;
}

.general-text{
	font-family: SourceSansPro, sans-serif;
}

.tittle-text{
	font-family: TelcelNova;
	font-weight: bolder;
	font-style: normal;
}

.tittle2-text{
	font-family: TelcelNova;
	font-weight: bold;
	font-style: normal;
}

