@charset "ISO-8859-1";

.login-body{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-origin: content-box!important;
	background-position: center!important;
	height: auto!important;
}