.headerPoliticas h1{
	color:#02b0ef;
	text-align: center;	
}

.headerPoliticas h2{
	color:#02b0ef;
	text-align: center;	
}

.ContenidoPoliticas{
	width:80%;
	margin-left:10%;
	color:#4a4b4d;
	text-align:justify;
}

.ContenidoPoliticas h3{
	color:#4a4b4d;
	font-weight:bold;
}
