.headerTerminos h1{
	color:#02b0ef;
	text-align: center;	
}

.headerTerminos h2{
	color:#02b0ef;
	text-align: center;	
}

.ContenidoTerminos{
	width:80%;
	margin-left:10%;
	color:#4a4b4d;
	text-align:justify;
}

.ContenidoTerminos h3{
	color:#4a4b4d;
	font-weight:bold;
}